/*============ VARIABLES CSS ============*/
:root {
  --header-height: 3rem;
  /*===== colors =====*/
  --primary-color: #069d54;
  --secondary-color: #048654;
  --title-color: #011f11;
  --text-color: #3d3f3e;
  --text-color-light: #7a7e7c;
  --body-color: #fbfefd;
  --container-color: #fff;
  /*===== fonts and typography =====*/
  --body-font: 'Poppins', sans-serif;
  /* 
  - font size (px):
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  */
  --biggest-font-size: 7.4rem;
  --title-font-size: 4.4rem;
  --subtitle-font-size: 3rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.2rem;
  --smaller-font-size: 1rem;

  /*===== font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* 
  - spacing (px):
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
   */
}

/*============ BASE ============*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--body-color);
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*================ CLASS CSS ================*/
.section {
  padding: 9.6rem 0;
}

.section-title,
.section-subtitle {
  text-align: center;
  letter-spacing: -.5px;
  line-height: 1.2;
}

.section-title {
  font-size: var(--title-font-size);
  color: var(--title-color);
  margin-bottom: 3.2rem;
}

.section-subtitle {
  color: var(--text-color-light);
  margin-bottom: 9.6rem;
}


/*================ LAYOUT ================*/
.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--6-cols {
  grid-template-columns: repeat(6, 1fr);
}


/*================ BUTTONS ================*/
.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: var(--font-semi-bold);
  padding: 1.6rem 3.2rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 9px;
  box-shadow: hsla(151, 93%, 32%, 0.2) 0 -25px 18px -14px inset,
    hsla(151, 93%, 32%, .15) 0 1px 2px, hsla(151, 93%, 32%, .15) 0 2px 4px,
    hsla(151, 93%, 32%, .15) 0 4px 8px,
    hsla(151, 93%, 32%, .15) 0 8px 16px,
    hsla(151, 93%, 32%, .15) 0 16px 32px;
  transition: all .4;
}

.btn:hover,
.btn:active {
  background-color: var(--secondary-color);
  transform: translateY(.2rem);
}

.scroll__btns-box {
  grid-area: 2 / -2;
  justify-self: end;
  padding: 0 1.2rem;
  display: flex;
  gap: 1.2rem;
}

.scroll__btn {
  border: none;
  cursor: pointer;
  /*  2 / 4 / 8 / 12 / 16 */
  padding: .4rem;
  border-radius: 10rem;
  background-color: transparent;
  border: 1px solid rgba(6, 157, 84, 0.5);

  display: flex;
  align-items: center;
}

.scroll__btn:hover {
  background-color: var(--primary-color);
  box-shadow: hsla(151, 93%, 32%, 0.2) 0 -25px 18px -14px inset,
    hsla(151, 93%, 32%, .15) 0 1px 2px, 
    hsla(151, 93%, 32%, .15) 0 2px 4px,
    hsla(151, 93%, 32%, .15) 0 4px 8px,
    hsla(151, 93%, 32%, .15) 0 8px 16px,
    hsla(151, 93%, 32%, .15) 0 16px 32px;
}

.scroll__btn:hover ion-icon {
  color: #fff;
}

.scroll__btn ion-icon {
  font-size: 2.4rem;
  color: var(--primary-color);
}


/*============ NAV ============*/
.header {
  width: 100%;
  background-color: #e6f5ee;
}

.nav {
  max-width: 124rem;
  height: 6.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  padding: 2.4rem 0 1.6rem;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav__link:link,
.nav__link:visited {
  text-transform: uppercase;
  color: var(--text-color);
  padding: .8rem 1.2rem;
}

.nav__link:hover,
.nav__link:active {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

.nav__logo {
  font-size: 2.4rem;
  font-weight: var(--font-semi-bold);
  color: var(--primary-color);
  transition: all .4s;
}

.nav__logo:hover {
  color: var(--secondary-color);
}


/*============ HERO ============*/
.hero {
  background-color: #e6f5ee;
  padding: 4.8rem 0 9.6rem 0;
}

.hero__container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
}

.hero__title {
  font-size: var(--biggest-font-size);
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: -.5px;
  line-height: 1.05;
  font-weight: var(--font-bold);
  margin-bottom: 2.4rem;
}

.hero__title span {
  color: var(--primary-color);
}

.hero__subtitle {
  font-size: 2.4rem;
  margin-bottom: 9.6rem;
  color: var(--text-color-light);
}

.hero__img {
  width: 50rem;
}


/*============ CATEGORIES ============*/
.categories__container {
  row-gap: 4.8rem;
}

.categories__card {
  background-image: linear-gradient(to bottom,
      rgba(6, 157, 84, 0.1),
      rgba(6, 157, 84, 0));
  border: 1px solid rgba(6, 157, 84, 0);
  border-radius: 2rem;
  padding: 2.4rem 0 4.8rem;
  cursor: pointer;
  transition: all .4s;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.categories__card:hover {
  background-color: rgba(6, 157, 84, 0.8);
  color: #fff;
  box-shadow: hsla(151, 93%, 32%, 0.2) 0 -25px 18px -14px inset,
    hsla(151, 93%, 32%, .15) 0 1px 2px, 
    hsla(151, 93%, 32%, .15) 0 2px 4px,
    hsla(151, 93%, 32%, .15) 0 4px 8px,
    hsla(151, 93%, 32%, .15) 0 8px 16px,
    hsla(151, 93%, 32%, .15) 0 16px 32px;
}

.categories__img-box {
  background-color: var(--body-color);
  padding: 1.6rem;
  border-radius: 10rem;
}

.categories__img {
  width: 5.2rem;
}

.categories__title {
  text-transform: uppercase;
}

/* 
  - spacing (px):
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
/*


/* 
.categories__card {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, hsla(151, 94%, 32%, 0.1) 90%);
} */

/* 
  - spacing (px):
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
   */